<div class="container-app">
    <div class="flex-sb-center tabs-container">
        <div class="d-flex" style="flex-wrap: wrap;">
            <div class="tab active">
                <a href="">Tasks</a>
            </div>
            <div class="tab">
                <a href="">Schedules</a>
            </div>

            <div class="tab">
                <a href="">Failed SubTasks</a>
            </div>
            <div class="separator">
            </div>
        </div>
        <div class="flex-center">
            <a href="" class="add-btn">
            </a>
            <a href="" class="filter">
                <img src="../../assets/images/Filter Logo.png" alt="" srcset="">
            </a>
        </div>
    </div>
    <div class="tasks">
        <div *ngFor="let task of tasksPage">
            <app-task [task]="task"></app-task>
        </div>
        <nav *ngIf="tasks.length > 6">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': disablePrev === true}">
                    <a class="page-link" (click)="onClickPrev()">Previous</a>
                </li>
                <div *ngFor="let page of pages">
                    <li class="page-item "><a class="page-link" (click)="onClick(page)"
                            [ngClass]="{'active': page === currentPage}">{{page}}</a></li>
                </div>
                <li class="page-item" [ngClass]="{'disabled': disableNext === true}">
                    <a class="page-link" (click)="onClickNext()">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>