$grey : #7d7d7d;
$text-grey: #aaa;
$warm-grey: #707070;
$pinkish-grey : #cbcbcb;


//Green
$green : #12bb12;

//blue
$blue : #0090ff;
$light-blue : #00afd8;

//Red
$red: #e60000;
$light-red : #f57277;